:host {
  display: block;
  position: relative;
}

.mockup {
  position: absolute;
  top: 50%;
  left: 0;
  width: calc(100vw - 380px + 3rem);
  min-width: 720px;
  max-width: 1000px;
  transform: translate(calc(380px + 3rem), -50%)
}

.customizer {
  display: flex;
  align-items: center;
  width: 380px;
  min-height: 570px;
}


@media (max-width: 768px) {
  .mockup {
    display: none;
  }

  .customizer {
    width: 100%;
  }
}
