:host {
  position: relative;
  display: block;
}

.mockup {
  position: absolute;
  top: 50%;
  right: 0;
  width: 1000px;
  max-width: calc(100vh * 1.825 - 280px);
  min-width: 720px;
  transform: translate(0, -50%)
}

.customizer {
  position: relative;
  z-index: 10;
  max-width: 380px;
  width: 100%;
}


@media (max-width: 1380px) {
  .mockup {
    position: absolute;
    top: 50%;
    right: unset;
    left:0;
    width: 1000px;
    transform: translate(calc(380px + 30px), -50%)
  }
}


@media (max-width: 768px) {
  .landing-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mockup {
      position: relative;
      top: 0;
      left: 0;
      width: 720px;
      margin-top: calc((((720px * 0.5 * 0.53) - (720px * 0.53)) / 2) + 30px);
      margin-bottom: calc((((720px * 0.5 * 0.53) - (720px * 0.53)) / 2) + 30px);
      transform: scale(0.5);
    }
  }
}

@media (max-width: 380px) {
  .landing-wrapper {

    .mockup {
      display: none;
    }
  }
}
