.wrapper {
  display: block;
  position: relative;
}

main {
  padding: 3rem;
}

.mockup {
  position: absolute;
  top: 50%;
  left: 0;
  width: calc(100vw - 450px);
  min-width: 720px;
  max-width: 1200px;
  transform: translate(450px, -50%)
}

.customizer {
  width: 450px;
}

.export {
  width: 100%;
}

code-block:not(:last-child) {
  margin-bottom: 1em;
}

.logo {
  max-width: 300px;
  margin-bottom: 1.8em;
}

@media (max-width: 768px) {
  section {
    padding: 2rem;
  }

  .mockup {
    display: none;
  }

  .customizer {
    width: 100%;
  }
}
