<div @fadeInUp class="block">
  <div class="header">
    <div *ngIf="title" class="title">{{title}}</div>
    <button class="download-link" *ngIf="copy" href="" (click)="copyToClipborad(code)">Copy <span
        class="dashicons dashicons-paperclip"></span></button>
    <a class="download-link" *ngIf="link && download" [href]="link" [download]="downloadFileName" id="downloadlink"
      (click)="trackDownload()">Download
      <span class="dashicons dashicons-download"></span></a>
  </div>
  <pre *ngIf="code"><code [ngClass]="type" >{{code}}</code></pre>
</div>
