.export {
  display: flex;
  justify-content: space-between;

  .sidebar {
    position: relative;
    width: 380px;
    margin-top: 1em;
    margin-left: 8%;
    flex-shrink: 0;
  }

  .instructions {
    width: 50%;
    flex-shrink: 1;
    flex-grow: 1;
  }

  ol {
    list-style: none;
    padding-left: 40px;
    padding-top: 10px;
    counter-reset: list;
  }

  li:before {
    content: counter(list);
    position: absolute;
    font-size: 100px;
    color: var(--wpasg-color-highlight);
    z-index: 0;
    left: -47px;
    top: 13px;
    line-height: 1;
  }

  li {
    position: relative;
    counter-increment: list;
    margin-bottom: 3em;
  }
}


code-block:not(:last-child) {
  margin-bottom: 1em;
}

@media (max-width: 1200px) {
  .export {
    width: 100%;
    flex-wrap: wrap;

    .sidebar{
      width: 100%;
	}
	
	.sidebar{
		margin-top: 2em;
		margin-left: 0;
	}
  }

}
