.export {
  width: 70%;

  ol {
    list-style: none;
    padding-left: 40px;
    padding-top: 10px;
    counter-reset: list;
  }

  li:before {
    content: counter(list);
    position: absolute;
    font-size: 100px;
    color: var(--wpasg-color-highlight);
    z-index: 0;
    left: -47px;
    top: 13px;
    line-height: 1;
  }

  li {
    position: relative;
    counter-increment: list;
    margin-bottom: 3em;
  }
}

code-block:not(:last-child) {
  margin-bottom: 1em;
}

@media (max-width: 768px) {
  .export {
    width: 100%;
  }
}
