:host {
  display: block;
  width: 100%;
  pointer-events: none;
  border-radius: 4px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

  --mock-body-background: #fff;
  --mock-base-color: #23282d;
  --mock-highlight-color: #0073aa;
  --mock-notification-color: #d54e21;
  --mock-text-color: #fff;
  --mock-link: #0073aa;
  --mock-button-color: #0073aa;
  --mock-form-checked: #0073aa;
  --mock-submenu-color: #1c2126;
}

.wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-bottom: 50%;
  background: var(--wpasg-color-background);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .12), 3px 3px 20px rgba(0, 0, 0, .23);


  * {
    transition: background 0.3s ease-in-out;
  }

  h2 {
    font-size: 0.8rem;
  }

  a {
    color: var(--mock-link);
  }

  * {
    font-size: 0.6rem;
  }

  .badge {
    display: inline-block;
    vertical-align: top;
    height: 1.6em;
    width: 1.6em;
    margin-left: 2px;
    padding: 0.45em;
    border-radius: 0.8em;
    font-size: 0.7em;
    text-align: center;
    background: var(--mock-notification-color)
  }

  .button-primary {
	display: inline-block;
    font-size: 1em;
    line-height: 2em;
	height: 2.1em;
    margin: 0;
    padding: 0 10px 1px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
	box-sizing: border-box;
	text-decoration: none;
	text-shadow: none;
	vertical-align: baseline;
	background: var(--mock-button-color);
    border-color: var(--mock-button-color);
    color: #fff;
  }
}

#wpadminbar {
  position: relative;
  width: 100%;
  height: 24px;
  padding: 0 0.8em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: inherit;
  background: var(--mock-base-color);
  color: var(--mock-text-color);

  .start {
    display: flex;
    flex-grow: 1;
  }

  .end {
    flex-shrink: 0;
    flex-grow: 0;
  }

  .item {
    padding: 0 0.4em;

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }

  span.dashicons {
    font-size: 1.2em;
    width: 1rem;
    height: 0.7rem;
    vertical-align: middle;
    line-height: 1;
    text-align: left;
    transition: none;
  }
}

#wpcontent {
  position: absolute;
  display: flex;
  top: 24px;
  height: calc(100% - 24px);
  width: 100%;
}

#adminmenumain {
  width: 15%;
  max-width: 140px;
  height: 100%;
  flex-shrink: 0;
  background: var(--mock-base-color);
  color: var(--mock-text-color);
}

#wpbody {
  width: 100%;
  height: 100%;
  padding: .8em;
  color: #23282d;
  background: var(--mock-body-background);

  th {
    vertical-align: top;
    text-align: left;
    padding: 16px 8px 16px 0;
    width: 180px;
  }

  td {
    margin-bottom: 9px;
    padding: 15px 10px;
    line-height: 1.3;
    vertical-align: middle;
  }

  input[type="text"],
  input[type="password"],
  input[type="checkbox"],
  input[type="color"],
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="search"],
  input[type="radio"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"],
  select,
  textarea,
  .media-frame input[type=email],
  .media-frame input[type=number],
  .media-frame input[type=password],
  .media-frame input[type=search],
  .media-frame input[type=text],
  .media-frame input[type=url],
  .media-frame select,
  .media-frame textarea {
    padding: 3px 4px;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow 0.1s linear;
    border-radius: 4px;
    border: 1px solid #7e8993;
  }

  input:not(.button),
  select,
  textarea {
    padding: 2px 4px;
  }


  input[type=checkbox],
  input[type=radio] {
    border: 1px solid #b4b9be;
    background: #fff;
    color: #555;
    clear: none;
    display: inline-block;
    line-height: 0;
    height: 12px;
    margin: -4px 4px 0 0;
    outline: 0;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle;
    width: 12px;
    min-width: 12px;
    -webkit-appearance: none;

    &:checked:before {
      display: inline-block;
      vertical-align: middle;
      width: 16px;
      font: normal 17px/1 dashicons;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
    }
  }

  input[type=checkbox] {
    &:checked::before {
      content: "\f147";
      margin: -3px 0 0 -4px;
      color: var(--mock-form-checked);
    }
  }

  input[type=radio] {
    border-radius: 50%;
    margin-right: 4px;
    margin-top: -4px;
    margin-right: 4px;
    float: none;
    line-height: 10px;
    position: relative;

    &:checked::before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      text-indent: -9999px;
      border-radius: 50%;
      width: 5px;
      height: 5px;
      background: var(--mock-form-checked);
    }
  }

  .select {
    height: 28px;
    vertical-align: middle;
    font-size: 13px;
    line-height: 1;
    color: #555;
    border-radius: 3px;
    padding: 2px 24px 2px 8px;
    min-height: 28px;
    -webkit-appearance: none;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2…%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 4px top 50%;
    background-size: 16px 16px;
  }

  .select {
    height: 28px;
    vertical-align: middle;
    font-size: 13px;
    line-height: 1;
    color: #555;
    border-radius: 3px;
    padding: 2px 24px 2px 8px;
    min-height: 28px;
    -webkit-appearance: none;
    background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2…%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E) no-repeat right 4px top 50%;
    background-size: 16px 16px;
  }

  fieldset {
    border: 0;
    padding: 0;
    margin: 0;
  }

  legend {
    font-size: 16px;
  }

  .color-option {
    display: inline-block;
    width: 24%;
    padding: 5px 10px 10px;
    box-sizing: border-box;
    margin-bottom: 3px;

    &.selected,
    &:hover {
      background: #ddd;
    }
  }

  .color-palette {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    margin-top: 3px;

    td {
      height: 12px;
      padding: 0;
      border: none;
    }
  }
}

.menu-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  .menu-item {
    display: flex;
    height: 24px;
    padding: 0 .8em;
    align-items: center;
    line-height: 1;

    &.active {
      font-weight: 700;
      background-color: var(--mock-highlight-color)
    }

  }

  .divider {
    margin-bottom: .6em
  }

  span.dashicons {
    font-size: 1.2em;
    width: 1rem;
    height: 0.6rem;
    vertical-align: middle;
    line-height: 1;
    text-align: left;
    transition: none;
  }

  .submenu {
    background: var(--mock-submenu-color);

    .menu-item {
      font-size: 0.85em;

      &.active {
        background: transparent;
        font-weight: 700;
      }
    }
  }
}
