.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  max-width: 1500px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 2em;
}

.header {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em 0 2em;

  .logo {
    display: inline-block;
    max-width: 300px;

    svg {
      width: 100%;
    }
  }

  .toggle-color {
    display: flex;
    align-items: center;

    label {
      margin-right: 1em;
    }
  }
}

.footer {
  color: var(--wpasg-color-text-alt);
  text-align: right;
  margin: 4em 0 2em;
  font-size: 0.9rem;
}


@media (max-width: 768px) {
  .wrapper {
    padding: 0 1rem;
  }

  .header {
    padding: 1.2em 0 1.2em;
    justify-content: center;

    .toggle-color {
      display: none;
    }
  }

  .footer {
    text-align: center;
    margin: 3em 0 1.5em;
  }
}
