@import '../../../scss/variables.scss';

:host {
  display: block;
  position: relative;
}

code {
  max-height: 380px;
  overflow-x: hidden;
  overflow-y: auto;
}

.download-link {
  position: absolute;
  top: 25px;
  right: 35px;
  padding: 6px 18px;
  border-radius: 50px;
  border: 1px solid $text;
  color: $text;
  background-color: transparent;
  font-size: 16px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
 
  &:hover, &:focus{
	  background: $text;
	  color: $bg;
  }

  .dashicons {
    font-size: 20px;
    width: 20px;
    height: 20px;
	vertical-align: middle;
	transition: none;
  }
}
