@import 'scss/fonts';
@import 'scss/variables';
@import 'scss/editor';
@import 'scss/toast';


* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: 'Intro', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 16px;
  background: var(--wpasg-color-background);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


body {
  background: var(--wpasg-color-background);
  color: var(--wpasg-color-text);
  overflow-x: hidden;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}


svg {
  fill: var(--wpasg-color-text);
  transition: fill 0.3s ease-in-out;
}

pre {
  margin: 0;
}

a {
  color: var(--wpasg-color-link);

  &:visited {
    color: var(--wpasg-color-link-visited);
  }
}

h1 {
  font-family: 'Intro-Alt', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 2em;
  font-weight: 500;
  line-height: 1.5;
}

h2 {
  font-family: 'Intro-Alt', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  line-height: 1.5;
}

h3 {
  font-family: 'Intro-Alt', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

input,
textarea {
  padding: 0;
  background: transparent;
  border-width: 0 0 1px 0;
  border-style: none none solid none;
  border-color: var(--wpasg-color-input);
  color: var(--wpasg-color-input);

  &:focus {
    outline: 0;
    box-shadow: 0;
  }

  &.ng-invalid {
    border-color: #840000;
  }
}

input {
  height: 32px;
}

label,
.label {
  font-size: 0.9rem;
  font-weight: 400;
}

.stacked {
  display: flex;
  flex-direction: column;

  input,
  label,
  .label {
    width: 100%;
  }

  label,
  .label {
    margin-bottom: 6px;
  }
}

.color-input {
  position: relative;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 16px;
  box-shadow: 2px 3px 8px -2px rgb(0, 0, 0, .12), 2px 3px 8px -2px rgb(0, 0, 0, .22);
}

button.btn,
a.btn {
  display: inline-block;
  padding: 0.6em 1.2em;
  border: 1px solid var(--wpasg-color-btn);
  border-radius: 40px;
  color: var(--wpasg-color-btn-contract);
  background-color: var(--wpasg-color-btn);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, .22), 3px 3px 20px rgba(0, 0, 0, .43);
  text-decoration: none;
  font-size: 1em;
  font-weight: 400;
  line-height: 1;
  cursor: pointer;
  user-select: none;
  transition: transform 0.4s cubic-bezier(0.22, 0.85, 0.49, 1.57);

  &:not([disabled]):hover {
    outline: 0;
    transform: scale(1.08);
  }

  &:not([disabled]):active {
    transform: scale(1);
  }

  &:focus {
    outline: 0;
  }

  &[disabled] {
    opacity: 0.5
  }
}



.toggle-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  padding: 2px;
  transition: all .2s ease;
  background: var(--color-light);
  border: 1px solid var(--color-light);
  border-radius: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;

  &:after {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
    left: 0;
    transition: all .2s ease;
    background: var(--color-dark);
    border-radius: 1em;
  }


  &[aria-checked=true] {
    background: var(--color-dark);
    border: 1px solid var(--color-dark);

    &:after {
      left: 50%;
      background: var(--color-light);
    }
  }
}

.post {
  max-width: 768px;
  margin: 0 auto;
}

.loading-screen {
  height: 100vh;
  width: 100%;
  position: relative;
  text-align: center;

  .content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%)
  }

  svg {
    width: 50vw;
    stroke: var(--wpasg-color-text);
    stroke-width: 0.75;

    path {
      fill: none;
      stroke-dasharray: 280;
      stroke-dashoffset: 0;
      animation: paint 1.8s ease infinite alternate;
    }
  }

  &.generator {
    height: calc(100vh - 172px);

    svg {
      width: 50vh;
    }
  }
}

@keyframes paint {
  0% {
    stroke-dashoffset: 280;
  }
}

@media (display-mode: standalone) {
  html,
  body {
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: none;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
  }
}
