/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */
.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 1em;
  left: 1em;
}

.toast-top-right {
  top: 1em;
  right: 1em;
}

.toast-bottom-right {
  right: 1em;
  bottom: 1em;
}

.toast-bottom-left {
  bottom: 1em;
  left: 1em;
}

/* toast styles */
.toast-title {
  font-weight: bold;
}

.toast-message {
  word-wrap: break-word;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: var(--wpasg-toast-text);
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: var(--wpasg-toast-text);
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}

/*Additional properties for button version
   iOS requires the button element instead of an anchor tag.
   If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}

.toast-container * {
  box-sizing: border-box;
}

.toast-container .ngx-toastr {
  position: relative;
  display: flex;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 30px;
  width: 300px;
  border-radius: 30px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  background-color: var(--wpasg-toast-bg);
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.12), 3px 3px 20px rgba(0, 0, 0, 0.23);
  color: var(--wpasg-toast-text);
  pointer-events: auto;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &:before {
	display: inline-block;
	margin-right: 5px;
    margin-inline-end: 5px;
    margin-inline-start: 0;
    flex-shrink: 0;
    font-family: 'Dashicons';
    font-size: 24px;
    line-height: 1;
  }

  &.toast-info {
    &:before {
      content: "\f348";
    }
  }

  &.toast-error {
    background-color: #BD362F;

    &:before {
      content: "\f158";
    }
  }

  &.toast-success {
    &:before {
      content: "\f147";
    }
  }

  &.toast-warning {
    &:before {
      content: "\f534";
    }
  }

}


.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  max-width: 300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}

/* Responsive Design */
@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }

  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }

  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }
}
