:root {

  --color-dark: #1d1d1d;
  --color-dark-lighter: #2d2d2d;
  --color-light: #dcdcdc;
  --color-light-darker: #e4e4e4;
  --color-medium-light: #ababab;
  --color-medium-dark: #5a5a5a;
  --color-primary: #0073aa;
  --color-primary-tint: #008dd0;
  --color-primary-shade: #005680;

  --wpasg-color-background: var(--color-dark);
  --wpasg-color-text: var(--color-light);
  --wpasg-color-text-alt: var(--color-medium-light);
  --wpasg-color-title: var(--color-light);
  --wpasg-color-highlight: var(--color-medium-dark);

  --wpasg-color-link: var(--color-primary);
  --wpasg-color-link-visited: var(--color-primary-tint);

  --wpasg-color-input: var(--color-light);
  --wpasg-color-input-disabled: var(--color-medium-light);

  --wpasg-color-btn: var(--color-light);
  --wpasg-color-btn-contract: var(--color-dark);
  --wpasg-color-btn-disabled: var(--color-medium-light);
  --wpasg-color-btn-focused: var(--color-dark);
  --wpasg-color-btn-bg-focused: var(--color-light);

  --wpasg-color-toast-bg: var(--color-dark-lighter);
  --wpasg-color-toast-text: var(--wpasg-color-text);

}

:root.light {
  --wpasg-color-background: var(--color-light);
  --wpasg-color-text: var(--color-dark);
  --wpasg-color-text-alt: var(--color-medium-dark);
  --wpasg-color-title: var(--color-dark);
  --wpasg-color-highlight: var(--color-primary);

  --wpasg-color-link: var(--color-primary);
  --wpasg-color-link-visited: var(--color-primary-shade);

  --wpasg-color-input: var(--color-dark-dark);
  --wpasg-color-input-disabled: var(--color-medium);

  --wpasg-color-btn: var(--color-dark);
  --wpasg-color-btn-contract: var(--color-light);
  --wpasg-color-btn-disabled: var(--color-medium-dark);
  --wpasg-color-btn-focused: var(--color-light);
  --wpasg-color-btn-bg-focused: var(--color-dark);

  --wpasg-color-toast-bg: var(--color-light-darker);
}
