:host {
  display: block;
  width: 100%;
}

.options {
  margin-bottom: 1.2em;
}

.form-row {
  margin: 1em 0;
}


fieldset.form-row {
  margin-top: 1.2em;
  padding: 0;
  border: 0;

  h2 {
    margin-top: 0;
    margin-bottom: 1.2em;
  }
}

.color {
  display: flex;
  flex-wrap: nowrap;
  margin: 0.8em 0;
}
